<template>
  <learning-survey></learning-survey>
  <user-experiences></user-experiences>
</template>

<script>
  import LearningSurvey from './components/survey/LearningSurvey.vue';
  import UserExperiences from './components/survey/UserExperiences.vue';

  export default {
    components: {
      LearningSurvey,
      UserExperiences,
    },
  };
</script>

<style>
  * {
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
    background-color: #676 ;
  }
</style>